.loading_wrapper > div {
    visibility: visible !important;
}

[class*="primary"] {
    color: #fff;
    background-color: #1bb580ff!important;
    accent-color: #1bb580ff;
    margin: 0.2rem;
}

.ag-theme-material.compact {
    --ag-grid-size: 3px;
    
}

.ag-theme-material.compact.light  .ag-cell{
    color: #c7c7c7;
    
}

